name: Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  ECR_REGISTRY: 789524919849.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPOSITORY: sm-studio-custom-pytho310
  IMAGE_TAG: latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Build Docker image
        run: make build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Check if ECR repository exists
        id: check-ecr-repo
        run: |
          aws ecr describe-repositories --repository-names $ECR_REPOSITORY || exit 0
          echo "::set-output name=exists::true"

      - name: Create ECR repository if it doesn't exist
        if: steps.check-ecr-repo.outputs.exists != 'true'
        run: |
          aws ecr create-repository --repository-name $ECR_REPOSITORY
          echo "::set-output name=created::true"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Tag Docker image
        run: make img-tag

      - name: Push Docker image to Amazon ECR
        run: docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG